.section-about {
    height: 500px;
    padding: 50px 100px;
    border-top: 1px solid #f5f5f5;
    border-bottom: 1px solid #f5f5f5;
    .section-about-header {
        padding: 20px 10px;
        font-size: 22px;
        font-weight: 600;
    }
    .section-about-content {
        display: flex;
        gap: 15px;
        width: 100%;

        .content-left {
            width: 60%;
        }

        .content-right {
            width: 40%;
            p {
                text-align: justify;
                font-style: italic;
                padding: 15px;
            }
        }
    }
}
