<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Bao san</title>
    </head>
    <body>
        <h1>Hello World with Bao san from view</h1>
        <p><%=data %></p>
    </body>
</html>
